{% extends 'litlelemonresturant/main.html'%}
{% load static %}



{% block title%} About page {% endblock title %}

{% block content %}



<div class="container">

<h3> LITLE Lemon Resturant</h3>
<img src="{% static '/litlelemon/images/t5.jpg' %}" alt="t5" height="300" width="200"/>
<br>
<p>

This litle lemon website provide some nice beverage product

you can visit book page to book your favority meal and drink.</p>

<br><br>




<img src="{% static '/litlelemon/images/t6.jpg' %}" alt="t6" height="300" width="200"/>
<br><br>
<p>

    This litle lemon website provide some nice beverage product
    
    you can visit book page to book your favority meal and drink.</p>

<img src="{% static '/litlelemon/images/tr.jpeg' %}" alt="t6" height="300" width="200"/>
<br><br>
<p>

    This litle lemon website provide some nice beverage product
    
    you can visit book page to book your favority meal and drink.</p>
    
    <br><br>



    <img src="{% static '/litlelemon/images/t2.jpg' %}" alt="t2" height="300" width="200"/>
<br><br>
<p>

    This litle lemon website provide some nice beverage product
    
    you can visit book page to book your favority meal and drink.</p>
    
    <br><br>


</div>



















<!-- Footer -->
<footer class="text-center text-dark" style="margin-top:300px">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
     
  
    
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      {% comment %} <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section> {% endcomment %}
      <!-- Section: Text -->
  
      <!-- Section: Links -->
     <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(210, 210, 210);">
      © 2023 litlelemon:
      <a class="text-dark" href="https://mdbootstrap.com/">litlelemon.com</a>
      <img class="" src="{% static '/litlelemon/images/logo.jpg' %}" alt="logo" height="100" width="50"/>
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
{% endblock content %}