{% extends 'litlelemonresturant/main.html'%}
{% load static %}


{% block title%} Home page {% endblock title %}

{% block content %}



<div class="container">
<br>

    <h4>welcome to litle lemon resturant.</h4>
    <br>
   <h5>this is title lemon resturant official page. </h5>

   <section>
<p>there is many types of healthy food and beverage product which can make you healthy and make life easy for you if you are doing diet.
</p>

<p>select meal that you want.</p>



   </section>

</div>





<!-- Footer -->
<footer class="text-center text-dark" style="margin-top:300px">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
     
  
    
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      {% comment %} <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section> {% endcomment %}
      <!-- Section: Text -->
  
      <!-- Section: Links -->
     <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(210, 210, 210);">
      © 2023 litlelemon:
      <a class="text-dark" href="https://mdbootstrap.com/">litlelemon.com</a>
      <img class="" src="{% static '/litlelemon/images/logo.jpg' %}" alt="logo" height="100" width="50"/>
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
{% endblock content %}

